################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Business/[Bb]in/
/Business/[Oo]bj/

/MarDealer/[Bb]in/
/MarDealer/[Oo]bj/


/Repository/[Bb]in/
/Repository/[Oo]bj/

/Entities/[Bb]in/
/Entities/[Oo]bj/

.vs/
.vs


*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/